body {
    border: 1px solid black;
    width: 95%;
    margin: auto;
    font-family: 'Architects Daughter', cursive;
  }
    .wrapper {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(12, minmax(auto, 1fr) ) ;
            padding: 1rem 2rem 1rem 2rem;
            background-color: #fff;
            color: #444;
        }
        .box {
            border: 1px solid black;
            padding: 20px;
            font-size: 150%;
        }

        /* BOXES */
        .a {
            grid-column: auto / span 6;
            padding-right: 10%;
            grid-row: 1;
        }
        .b {
            grid-column: auto / span 6;
            grid-row: 1;
        } 
        .c {
            grid-column: auto / span 6;
            line-height: 0vw;
        }
        .c0 {
            grid-column: auto / span 6;
            text-align: center;
        }
        .c1 {
            grid-column: auto / span 6;
            line-height: 0vw;
        }
        .d {
            grid-column: auto / span 6;
            display: grid;
            grid-template-columns: 1fr 1fr;
            line-height: 0.5vw;
        }
        .d0 {
            grid-column: auto / span 6;
            text-align: center
        }
        .d1 {
            grid-column: 1;
            text-align: left;
        }
        .d2 {
            grid-column: 2;
            text-align: right;
        }
        .d3 {
            grid-column: auto / span 6;
            text-align: center
        }


        @media ( max-width: 500px ) {
            .a {
                grid-row: 1;
            }
            .b {
                grid-row: 2;
            }
        }
        



        img {
            display: flex;
            width: 100%;
        }
        h1 {
            font-size: 4.5vw;
            margin: 0.25vw;
        }
        h2 {
            font-size: 2.5vw;
            margin: 0.1vw;
        }
        h3 {
            font-size: 2vw;
        }
        h4 {
            font-size: 2vw;
        }
        p {
            font-size: 1.6vw;
        }