body {
    border: 1px solid black;
    width: 95%;
    margin: auto;
    font-family: 'Architects Daughter', cursive;
  }
    .wrapper {
            display: grid;
            grid-gap: 1.5vw;
            grid-template-columns: repeat(12, minmax(auto, 1fr) ) ;
            padding: 2vw;
            background-color: #ffffff;
            color: #444;
        }

/* ------------- BOXES ------------- */
        .box {
            /*  
            HELPERLINES
            border: 1px solid black; 
            */  
            padding: 1vw 1vw 0.5vw 1vw;
            grid-column: auto / span 6;
        }
        .b {
            padding-left: 15%;
        }
        .c1, .d1, .d2 {
            line-height: 0vw;
        }
        .d {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .d1 {
            grid-column: 1;
            text-align: left;
        }
        .d2 {
            grid-column: 2;
            text-align: right;
        }
        .d3 {
            text-align: center;
            line-height: 1vw;
        }
        .lgm {
            grid-column: auto / span 12;                     
        }
        .sml {
            grid-column: auto / span 5;
        }
        .smr {
            grid-column: auto / span 7;
        }

/* ------------- IMG & TEXT ------------- */
        img {
            display: flex;
            width: 100%;
        }
        h1 {
            font-size: 4.5vw;
            margin: 0.2vw;
        }
        h2 {
            font-size: 3vw;
            margin: 0vw;
            padding-bottom: 0vw;
            text-align: center;
        }
        h3 {
            font-size: 2.2vw;
        }
        h4 {
            font-size: 2vw;
        }
        p {
            font-size: 1.6vw;
        }
        span {
            font-size: 1.5vw;
            float: right;
        }

/* ------------- MEDIA QUERY ------------- */

        @media ( max-width: 500px ) {
            .wrapper {
                display: grid;
                grid-template-columns: repeat(6, minmax(auto, 1fr)) ;
                padding: 2vw;
            }
                .box {
                    grid-column: auto / span 6;
                    padding: 1vw;
                }
                .lgm {
                    padding-bottom: 0;
                }
                .c1, .d1, .d2, .d3, .k {
                    text-align: center;
                }
                .d1, .d2 {
                    grid-column: auto / span 1;
                }
            }