* {
    box-sizing: border-box;
}
    body {
    border: 1px solid black;
    width: 95%;
    margin: auto;
    font-family: 'Architects Daughter', cursive;
    }
    .wrapper {
            display: flex;
            flex-flow: row wrap;
            padding: 4vw;
        }
        .box {
            border: 1px solid black;
            padding: 1vw;
            flex: 50 1 50%;
        }
        .sml {
            flex: 40 1 40%;
        }
        .lgm {
            flex: 100 1 100%;
        }
        img {
            width: auto;
        }

        .b {
            padding-left: 4vw;
        }
        .c1, .d1, .d2 {
            line-height: 0vw;
        }
        .d {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .d0, .d3 {
            grid-column: 1 / span 2;
        }
        .d1 {
            grid-column: 1;
            text-align: left;
        }
        .d2 {
            grid-column: 2;
            text-align: right;
        }

        img {
            width: 100%;
        }
        h1 {
            font-size: 4.5vw;
            margin: 0.25vw;
        }
        h2 {
            font-size: 2.5vw;
            margin: 0.1vw;
            text-align: center;
        }
        h3 {
            font-size: 2vw;
        }
        h4 {
            font-size: 2vw;
        }
        p {
            font-size: 1.6vw;
        }


        /* 
        @media screen and (max-width: 700px) {
            .box {   
                flex-direction: column;
            }
        } */