body {
    border: 1px solid black;
    width: 95%;
    margin: auto;
    font-family: 'Architects Daughter', cursive;
  }
    .wrapper {
            display: flex;
            flex-wrap: wrap;
            padding: 1rem 2rem 1rem 2rem;
            background-color: #fff;
            color: #444;
        }
        .wrapper>* {
            flex: 1 1 350px;
          }
      
        .box {
            border: 1px solid black;
            padding: 20px;
            font-size: 150%;
        }

        /* BOXES */
        .a {
            padding-right: 10%;
        } 
        .c {
            line-height: 0vw;
        }
        .c0 {
            text-align: center;
        }
        .c1 {
            line-height: 0vw;
        }
        .d {
            display: grid;
            grid-template-columns: 1fr 1fr;
            line-height: 0.5vw;
        }
        .d0 {
            text-align: center;
            grid-column: 1 / span 2;
        }
        .d1 {
            grid-column: 1;
            text-align: left;
        }
        .d2 {
            grid-column: 2;
            text-align: right;
        }
        .d3 {
            grid-column: auto / span 6;
            text-align: center
        }


        img {
            display: flex;
            width: 100%;
        }
        h1 {
            font-size: 4.5vw;
            margin: 0.25vw;
        }
        h2 {
            font-size: 2.5vw;
            margin: 0.1vw;
        }
        h3 {
            font-size: 2vw;
        }
        h4 {
            font-size: 2vw;
        }
        p {
            font-size: 1.6vw;
        }